# Requirements for using the RedVox Python SDK.

cython
dataclasses-json >= 0.5.1
fastkml>=0.11
lxml>=4.5.2
lz4>=3.1.0
numpy>=1.21.0
pandas>=1.4.1
protobuf>=3.12.2
psutil
pyserde
pyarrow
requests>=2.24.0
scipy>=1.8.0
scikit-learn
toml
