# Requirements for using the RedVox Python SDK.
# Backporting dataclasses only to Python 3.6
dataclasses >= 0.7; python_version == '3.6'
dataclasses-json >= 0.5.1
fastkml>=0.11
lxml>=4.5.2
lz4>=3.1.0
matplotlib>=3.2.2
numpy>=1.19.0
pandas>=1.0.5
protobuf>=3.12.2
pyserde
PySide2 >= 5.15.0
requests>=2.24.0
scipy>=1.5.1
obspy>=1.2.2

