# Requirements for developing the RedVox Python SDK.
pylint >= 2.4.4     # Python linting
mypy >= 0.761       # Static type checking
pdoc3 >= 0.7.4      # API documentation and generation
coverage >= 5.0.3   # Test coverage
