# Requirements for developing the RedVox Python SDK.
pylint >= 2.8.2     # Python linting
mypy >= 0.812       # Static type checking
pdoc3 >= 0.8.4      # API documentation and generation
coverage >= 5.5     # Test coverage
twine >= 3.2.0      # For publishing to pypi
wheel >= 0.34.2     # For building wheel distributions
